.main-container {
  min-height: 100vh;
  background: #2e3749;
}

/* Nav Bar Styles */

.navbar {
  padding: 20px !important;
  display: flex;
  align-items: center;
}

.navbar-heading {
  margin-left: 10px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  font-size: 1.25rem;
}

.fa-plus-circle {
  margin-right: 08px;
}

#tables-container {
  /* display: grid;
  grid-row-gap: 100px;
  width: 100%; */
  box-sizing: border-box;
  padding: 40px;
  margin: 0 auto;
  /* border-radius: 10px; */
 }

/* Table Card Styles */

.table-container {
  border-radius: 10px;
  background-color: #495467;
  height: fit-content;
  font-size: 0.9rem;
  max-width: 300px;
}
.table-header {
  height: 10px;
  border-radius: 10px 10px 0px 0px;
  background-color: #38b2ac;
}
.white-text {
  color: #ffffff;
}

.table-heading {
  text-transform: capitalize;
  font-size: 1.0625rem;
}
.table-subheading {
  font-size: 14px;
  font-weight: 500;
}
.table-body {
  padding: 12px 10px;
  /* min height because react connect element library arrows issue */
  min-height: 350px;
}

.field-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.field-option {
  margin-right: 14px;
  color: #7b7b7b;
}

.active-color {
  color: #38b2ac;
}

.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #1a202d;
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left .5s;
  padding: 20px;
}
.sidebarHeader {
  color: white;
  margin-left: 20px;
}
.sidebarText {
  color: white;
  margin-left: 20px;
}
.sidebarFormText {
  color: white;
  margin-left: 20px;
  margin-top:40px;
}
.sidebarInput {
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 10px;
  width: 90%;
  padding: 10px;
}
.checkbox1 {
  margin-left: 25px;
  margin-top: 20px;
}
.checkboxText {
  margin-left: 10px;
  color: white;
  margin-top: 20px;
}
.sidebarHeaderFields {
  color: white;
  margin-left: 20px;
  margin-top: 20px;
}
.sidebarFieldInput {
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 10px;
  width: 160px;
  padding: 10px;
}
.letterN {
  color: #7b7b7b;
  margin-left: 20px;
}
.buttonSave {
  border: 2px solid greenyellow;
  border-radius: 5px;
  background-color: transparent;
  color: greenyellow;
  margin-left: 20px;
  margin-top: 10px;
  padding:  5px;
  width: 70px;
  margin-bottom: 20px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
